apiVersion: v1
kind: Pod
metadata:
  name: ${APP_INSTANCE_NAME}-tester
  namespace: ${NAMESPACE}
  labels:
    app: ${APP_INSTANCE_NAME}
  annotations:
    marketplace.cloud.google.com/verification: test
spec:
  containers:
  - name: tester
    image: ${TESTER_IMAGE}
    command: ["/bin/sh", "-c"]
    args:
    - |
      set -e
      echo "Starting PMOMax Health Check..."
      ATTEMPTS=0
      until curl -fsS "http://${APP_INSTANCE_NAME}:80/health" || [ $ATTEMPTS -eq 12 ]; do
        echo "Waiting for PMOMax service at http://${APP_INSTANCE_NAME}:80/health..."
        ATTEMPTS=$((ATTEMPTS+1))
        sleep 10
      done
      curl -fsS "http://${APP_INSTANCE_NAME}:80/health"
      echo "PMOMax is Healthy!"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 256Mi
      limits:
        cpu: 250m
        memory: 256Mi
        ephemeral-storage: 512Mi
  restartPolicy: Never
