server {
    listen       ${PORT} default_server;
    server_name  _;
    root   /usr/share/nginx/html;
    index  index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /_healthz {
        add_header Content-Type text/plain;
        return 200 'ok';
    }

    location = /favicon.ico { access_log off; log_not_found off; }

    gzip on;
    gzip_types text/plain application/javascript text/css application/json image/svg+xml;
    gzip_min_length 256;
}